{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["import"],
  "extends": [
    "@raythunder",
    "@unocss"
  ],
  "rules": {
    "no-console": "off",
    "vue/no-deprecated-slot-attribute": "off"
  }
}
